@import "tailwindcss";

:root {
  --color-primary: #5B7B7A;
  --color-secondary: #A17C6B;
  --color-accent: #CEB5A7;
  --color-bg: #E0F2E9;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
}